.App {
  display: flex;
}

.Left, .Right {
  flex: 1;
}

.box {
  border: 1px solid;
  padding: 1em;
  margin: 1em;
}

.special {
  color: #fff;
  border: 1px solid salmon;
  text-align: center;
  margin: 1em;
  height: 3em;
  line-height: 3em;
  background: #09f;
}
