html, body {
  background: #546ebf;
}

.App {
  background: #546ebf;
}

.row {
  display: flex;
}

.Left, .Right {
  flex: 1;
}

.box {
  border: 1px solid;
  padding: 1em;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.3);
}

.special {
  color: #7f3fb5;
  font-weight: bold;
  border: 3px solid #12af2e;
  text-align: center;
  margin: 1em;
  height: 3em;
  line-height: 3em;
  background: #39ff00;
}
