html, body {
  background: #546ebf;
}

.App {
  background: #546ebf;
}

.row {
  display: flex;
}

.Left, .Right {
  flex: 1;
}

.box {
  border: 1px solid;
  padding: 1em;
  margin: 1em;
  background-color: rgba(255, 255, 255, 0.3);
}

.special {
  color: #fff;
  border: 1px solid salmon;
  text-align: center;
  margin: 1em;
  height: 3em;
  line-height: 3em;
  background: #09f;
}
